body {
    min-height: 100vh;
    min-width: 85vw;
    background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExcWZ3d3FkeWR3amRvOHd5dnF2Y2owNGQ0ZG0wbWxodTdoMzg1OXAxbSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/xT9IgpernHLP5eWOY0/giphy.gif);
    background-position: right;
    background-repeat: repeat;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 130px);
    grid-template-rows: repeat(2, calc(130px / 2 * 3));
    grid-gap: 18px;
    justify-content: center;
    transform-style: preserve-3d;

}

.card {
    width: 140px;
    height: calc(130px / 2 * 3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='80' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(240,6.7%,17.6%,1)'/><path d='M-4.798 13.573C-3.149 12.533-1.446 11.306 0 10c2.812-2.758 6.18-4.974 10-5 4.183.336 7.193 2.456 10 5 2.86 2.687 6.216 4.952 10 5 4.185-.315 7.35-2.48 10-5 1.452-1.386 3.107-3.085 4.793-4.176'  stroke-width='1' stroke='hsla(47,80.9%,61%,1)' fill='none'/><path d='M-4.798 33.573C-3.149 32.533-1.446 31.306 0 30c2.812-2.758 6.18-4.974 10-5 4.183.336 7.193 2.456 10 5 2.86 2.687 6.216 4.952 10 5 4.185-.315 7.35-2.48 10-5 1.452-1.386 3.107-3.085 4.793-4.176'  stroke-width='1' stroke='hsla(4.1,89.6%,58.4%,1)' fill='none'/><path d='M-4.798 53.573C-3.149 52.533-1.446 51.306 0 50c2.812-2.758 6.18-4.974 10-5 4.183.336 7.193 2.456 10 5 2.86 2.687 6.216 4.952 10 5 4.185-.315 7.35-2.48 10-5 1.452-1.386 3.107-3.085 4.793-4.176'  stroke-width='1' stroke='hsla(186.8,100%,41.6%,1)' fill='none'/><path d='M-4.798 73.573C-3.149 72.533-1.446 71.306 0 70c2.812-2.758 6.18-4.974 10-5 4.183.336 7.193 2.456 10 5 2.86 2.687 6.216 4.952 10 5 4.185-.315 7.35-2.48 10-5 1.452-1.386 3.107-3.085 4.793-4.176'  stroke-width='1' stroke='hsla(258.5,59.4%,59.4%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.card.flipped-A {
    background-color: #ecc94bff;
    transform: rotateY(180deg);
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-image: none;
}

.card.flipped-B {
    background-color: #f44034ff;
    transform: rotateY(180deg);
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-image: none;
}
.card.flipped-C {
    background-color: #00bdd6ff;
    transform: rotateY(180deg);
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-image: none;
}
.card.flipped-D {
    background-color: #8059d4ff;
    transform: rotateY(180deg);
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-image: none;
    
}
.front-image {
    width: 50px;
    height: 50px;
}

.card .front {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .front{
    transform: rotateY('180 deg');
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 55px;
}

p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.actions button {
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
    background-color: ff8dd4;
    justify-content: center;
}

.actons {
    display: flex;
    justify-content: center;
}

